@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


.all {
  background-color: #25274D;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}


.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  user-select: none;  
  background-color: #495760;
  height: 30px;
  width: 30px;
  padding: 10px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
border-radius: 4px;
}

.seat.selected {
  background-color: #4caf50;
}

.seat.sold {
  background-color: #ffc107;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #ca2020;
  color: #192e41;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: rgb(158, 248, 158);
}